* {
  color: rgb(39, 12, 12);
}
header {
  background-image: url(https://static.wixstatic.com/media/37df9e_91c453cca1764c8c81bde04454076877~mv2.jpg/v1/fill/w_595,h_595,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/37df9e_91c453cca1764c8c81bde04454076877~mv2.jpg);
  background-position: center center;
  background-repeat: repeat-x;
  text-align: center;
  text-shadow: 5px 5px 4px #be1e2d;
  color: black;
}
h1 {
  text-decoration: overline;
}
h3 {
  text-decoration: overline;
  width: 52%;
}
div.a {
  text-align: justify;
  width: 100%;
}
div.b {
  text-align: center;
  width: 100%;
}
div.c {
  text-align: right;
  width: 100%;
}
div {
  border: 5px solid rgb(34, 8, 8);
  padding: 5px;
}
.article {
  width: 52%;
}
.sidebar {
  width: 45%;
}
.right {
  float: right;
}

.left {
  float: left;
}
.callout {
  float: right;
  width: 45%;
}
body {
  background-color: rgb(134, 75, 75);
  background-image: url(https://images.unsplash.com/photo-1499088513455-78ed88b7a5b4?ixlib=rb-1.2.1);
  background-repeat: repeat;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  background-color: gray;
  justify-content: center;
}
.card {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 0.5rem;
}
.card:hover {
  box-shadow: 0px 0px 20px 2px #f0f0f0;
}
img {
  width: 100%;
  height: auto;
}
#press {
  cursor: pointer;
}
.button {
  box-shadow: 1px 1px 0 #be1e2d;
}
.button-counter {
  margin-right: 39px;
}
#myForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 10px;
}
footer {
  background: #be1e2d;
  color: black;
  padding: 10px 0 50px 0;
  clear: both;
}
