header {
    background-image: url(https://static.wixstatic.com/media/37df9e_91c453cca1764c8c81bde04454076877~mv2.jpg/v1/fill/w_595,h_595,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/37df9e_91c453cca1764c8c81bde04454076877~mv2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    color: grey;
}

div {
    border: 5px solid #BE1E2D;
    padding: 5px
}
.article {
    width: 52%
}
.sidebar {
    width: 45%
}
.right {
    float: right;
}
  
.left {
    float: left;
}
.callout {
    float: right;
    width: 45%
}
body {
    background-color: grey;
    background-image: url(https://images.pond5.com/wave-particles-abstract-background-dynamic-footage-169798256_iconl.jpeg);
    background-repeat: no-repeat;
}
.card {
    width: 30vw;
    display: flex;
    align-items: left;
    flex-direction: column;
    background-color: #f0f0f0;
}
    .card:hover {
        box-shadow: 0px 0px 20px 2px black;
    }
    img {
        width: 100%;
        height: auto;
    }




footer {
    background: #BE1E2D;
    color: black;
    padding: 10px 0 50px 0;
    text-align: centre;
    clear: both;
}